:root {
  --escala: 60vh;
  --primary-color: #1e2a5e;
  --secondary-color: #f8f9fa;
  --hover-color: #222e6b;
  --text-color: #ffffff;
}
* {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  overflow: hidden; /* Eliminar scroll */
}
header {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}
.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.navbar a:hover {
  color: var(--accent-color);
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: calc(100vh - 140px); /* Ajusta el contenedor para que ocupe el espacio restante entre header y footer */
  padding-top: 15ch;
  padding-left: 5ch;
}
#ruleta {
  position: relative;
  box-sizing: border-box;
  height: var(--escala);
  width: var(--escala);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#ruletaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cartelGanador {
  color: var(--text-color);
  position: absolute;
  left: -150px;
  top: 40px;
  background-color: var(--primary-color);
  border-radius: 8px;
  min-height: 55px;
  width: 300px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#marcador {
  position: absolute;
  top: 70px;
  background-color: var(--primary-color);
  height: 100px;
  width: 4px;
}
#sortear {
  color: var(--text-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: calc(var(--escala) / 2 - 60px / 2);
  left: calc(var(--escala) / 2 - 60px / 2);
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#sortear:hover {
  background-color: var(--hover-color);
}
#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.opcion {
  position: absolute;
  height: var(--escala);
  width: var(--escala);
  background-color: var(--color);
  transform: rotate(var(--deg));
  cursor: pointer;
}
/* Texto de opcion*/
.nombre {
  margin: 0;
  padding-top: 10%;
  color: white;
  height: calc(var(--escala) / 2);
  position: absolute;
  left: calc(var(--escala) / 3);
  transform-origin: bottom center;
  font-size: calc(var(--escala) / 25);
}

.girar {
  animation-name: girar;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.card {
  background-color: var(--secondary-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
  border-color: var(--primary-color);
}
.card.selected {
  background-color: var(--primary-color);
  color: var(--text-color);
}
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
@keyframes girar {
  100% {
    transform: rotate(var(--giroRuleta));
  }
}
