:root {
  --escala: 60vh;
  --primary-color: #1e2a5e;
  --secondary-color: #f8f9fa;
  --hover-color: #222e6b;
  --text-color: #ffffff;
}
* {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  overflow: hidden; /* Eliminar scroll */
}
header {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* Estilos para el botón de inicio */
.navbar-btn {
  background-color: var(--hover-color);
  color: var(--text-color);
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none; /* Evita el subrayado del enlace */
}

.navbar-btn:hover {
  background-color: var(--primary-color);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.navbar-btn:active {
  background-color: var(--primary-color);
  box-shadow: none;
}

/* Asegura que el título esté centrado */
h1 {
  flex-grow: 1;
  text-align: center;
  margin-right: 50px; /* Asegura que el título no toque el borde del navegador */
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: calc(100vh - 140px); /* Ajusta el contenedor para que ocupe el espacio restante entre header y footer */
  padding-top: 15ch;
  padding-left: 5ch;
}
#ruleta {
  position: relative;
  box-sizing: border-box;
  height: var(--escala);
  width: var(--escala);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#ruletaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cartelGanador {
  color: var(--text-color);
  position: absolute;
  left: -150px;
  top: -65px;
  background-color: var(--primary-color);
  border-radius: 8px;
  min-height: 55px;
  width: 300px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* Añadiendo la flecha */
}

#cartelGanador::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Posición para colocar la flecha debajo del cartel */
  left: 50%;
  margin-left: -10px; /* Centrar la flecha */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid var(--primary-color); /* Color de la flecha igual al cartel */
}
#marcador {
  position: absolute;
  background-color: var(--primary-color);
}
#sortear {
  color: var(--text-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: calc(var(--escala) / 2 - 60px / 2);
  left: calc(var(--escala) / 2 - 60px / 2);
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#sortear:hover {
  background-color: var(--hover-color);
}
#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.opcion {
  position: absolute;
  height: var(--escala);
  width: var(--escala);
  background-color: var(--color);
  transform: rotate(var(--deg));
  cursor: pointer;
}
/* Texto de opcion*/
.nombre {
  margin: 0;
  padding-top: 10%;
  color: white;
  height: calc(var(--escala) / 2);
  position: absolute;
  left: calc(var(--escala) / 3);
  transform-origin: bottom center;
  font-size: calc(var(--escala) / 25);
}

.girar {
  animation-name: girar;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.card {
  background-color: var(--secondary-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
  border-color: var(--primary-color);
}
.card.selected {
  background-color: var(--primary-color);
  color: var(--text-color);
}
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

/* Estilos para el modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con mayor opacidad */
}

.modal-content {
  background-color: #ffffff; /* Color de fondo más claro */
  margin: 5% auto;
  padding: 40px; /* Aumentar el padding */
  border: 1px solid #ccc; /* Color de borde más suave */
  width: 80%; /* Ancho más amplio */
  max-width: 800px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Sombra más suave */
  border-radius: 15px; /* Bordes más redondeados */
  font-family: 'Arial', sans-serif; /* Fuente más moderna */
  line-height: 1.6; /* Aumento del interlineado */
}

.close {
  color: #555; /* Color del botón de cerrar más oscuro */
  float: right;
  font-size: 32px; /* Aumento del tamaño de fuente */
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000; /* Cambio a negro en hover */
  text-decoration: none;
  cursor: pointer;
}


@keyframes girar {
  100% {
    transform: rotate(var(--giroRuleta));
  }
}
